*{
  margin: 0;
  padding: 0;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(loginback.jpg);
    background-size: cover;
  }
  h2{
  width: 200px;
  font-family: sans-serif;
  text-align: center;
  color: orange;
  font-size: 22px;
  border-radius: 10px;
  margin: 2px;
  margin-left: 80px;
  padding: 8px;
  }

  #login-form {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 100px auto;
    padding: 30px;
    text-align: center;
    width: 400px;
  }
  
  h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: orange;
  }
  
  .input-field {
    margin-bottom: 20px;
    position: relative;
  }
  
  input {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    padding: 10px;
    width: 50%;
  }
  
  .error-message {
    color: #ff0000;
    font-size: 12px;
    left: 5px;
    position: absolute;
    top: 40px;
  }
  
  button {
    margin-top: 20px;
    display: inline-block;
  }
  
  button {
    background-color:orange;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s ease;
    width: 40%;
  }
  button.submit{
    float: left;
  }
  
  button:hover {
    background-color: orangered;
  }
  .form input[type="checkbox"]{
    position:relative;
    left: -110px;
    height: 20px;
    bottom:-50px;
}
  
.form input[type="checkbox"]+label{
  position:relative;
  left: -230px;  
  bottom: -45.6px; 
}
  