@charset "ISO-8859-1";


h3{
  font-family: Calibri; 
  font-size: 25pt;         
  font-style: normal; 
  font-weight: bold; 
  color:SlateBlue;
  text-align: center; 
  text-decoration: underline
}
.log {
	margin:0;
	padding:0;
	background:url('loginback.jpg');
	background-size: cover;
	font-family: sans-serif;
}

